.display-flex
  display: flex

.opacity-show
  opacity: 1

.grey-color 
  color: $grey-color
  transition: 1s

.red-color 
  color: $red-color
  transition: 1s

.red-background-dot
  background-color: $red-color 
  transition: 0.5s

.red-dark-color 
  color: rgba($red-color, 0.2)

.red-background 
  background-color: $red-color 
  transition: 1s

.grey-background 
  background-color: $grey-color
  transition: 1s

.red-fill
  fill: $red-color 
  transition: 1s

.grey-fill
  fill: $grey-color 
  transition: 1s

.second-photo-open
  animation: secondPhotoOpen 2s
  animation-fill-mode: forwards

.second-photo-hide
  animation: secondPhotoHide 2s


@keyframes secondPhotoOpen
  0%
    transform: translateX(0)
  50%
    transform: translateX(100px) scale(1)
  100%
    transform: translateX(100px) scale(1.2)

@keyframes secondPhotoHide
  0%
    transform: translateX(100px) scale(1.2)
  50%
    transform: translateX(100px) scale(1)
  100%
    transform: translateX(0)