.fifth 
  display: flex
  height: 100% 
  background-color: $grey-color
  scroll-snap-align: start
  &__info 
    margin: 165px 110px 0 200px 
    color: $red-color
  &__title 
    font-size: 48px 
    margin-bottom: 50px 
  &__subtitle 
    font-size: 14px 
    line-height: 2 
    color: $grey-light-color
    margin: 0 0 40px 40px 
  &__social 
    font-size: 14px 
    font-weight: 700
    margin-bottom: 5px
  &__link 
    display: inline-block
    font-size: 24px 
    font-weight: 700
    margin-bottom: 27px 
    color: $grey-light-color
    &:nth-of-type(3)
      margin-bottom: 0
  &__photo 
    display: flex
    flex-direction: column
    align-items: center
    width: 370px
    min-width: 370px
    height: 100% 
    background-color: #111114
  &__see-all
    margin-top: 40px
 

  