.fourth 
  position: relative
  display: flex
  height: 100%
  background-color: $grey-color
  &:before 
    position: absolute
    content: ''
    width: 100%
    height: 100%
    background: url(../img/about-bg.png) no-repeat 
    background-size: auto 100%
    opacity: 0.1
    transition: 2s
  &__logos 
    position: absolute
    width: 710px 
    height: 90%
    padding: 150px 90px 40px 90px
    left: 20%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-end
    background-color: #111114
    transition: 1s
    &:after 
      position: absolute
      content: ''
      width: 40%
      height: 20px
      bottom: -10px
      right: 0
      background-color: $red-color
      transition: 2s
    @include media(1900px) 
      width: 680px
      left: 10%
    @include media(1500px)
      width: 500px
      left: 0
    @include media(576px)
      width: 430px
  &__logo
    width: 100%
    height: 100%
    object-fit: contain
    &-wrapper 
      width: 220px
      height: 220px
      transition: 1s
      &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7)
        transform: translateX(-300px)
      &:nth-child(2)
        transform: translateY(-180px)
      &:nth-child(4)
        transform: translateY(-110px)
      &:nth-child(6)
        transform: translateY(-110px)
      &:nth-child(8)
        transform: translateY(-60px)
      @include media(1900px)
        width: 180px
        height: 180px
      @include media(1500px)
        width: 100px
        height: 150px
        &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7)
          transform: translateX(-200px)
        &:nth-child(2)
          transform: translateY(-120px)
        &:nth-child(4)
          transform: translateY(-90px)
        &:nth-child(6)
          transform: translateY(-90px)
        &:nth-child(8)
          transform: translateY(-90px)
  &__info 
    position: absolute
    max-width: 40%
    top: 140px
    left: 52%
    color: $red-color
    @include media(1500px)
      left: 45%
    @include media(1500px)
      left: 50%
    @include media(992px)
      left: auto 
      right: 200px
    @include media(768px)
      right: 80px
  &__uppertitle 
    font-size: 25px 
    margin-bottom: 30px 
    @include media(1500px)
      font-size: 20px
    @include media(992px)
      display: none
  &__title 
    position: relative
    font-size: 65px
    text-transform: uppercase
    font-weight: 700
    transition: 0.5s
    &-main
      position: absolute
    &-hidden
      position: absolute
      opacity: 0
      transition: 0.5s
    @include media(1900px)
      font-size: 50px
    @include media(1500px)
      font-size: 35px
    @include media(992px)
      transform: rotate(-90deg) translateX(-200px)
    @include media(576px)
      font-size: 20px
      transform: rotate(-90deg) translateX(0)
  &__subtitle 
    position: relative
    font-size: 25px 
    line-height: 2 
    color: $grey-light-color
    margin: 160px 0 40px 40px 
    &::first-letter
      font-size: 50px
      font-weight: bold
      line-height: 0.5
      letter-spacing: 5px
    &-hidden
      position: absolute
      top: 0
      left: 0
      opacity: 0
      transition: 0.5s
    @include media(1900px)
      font-size: 20px
    @include media(1500px)
      font-size: 15px
      margin: 100px 0 40px 40px 
    @include media(992px)
      display: none
  &__see-all
    @include media(992px)
      display: none
    &-close 
      position: absolute
      right: 0
      top: 0
      opacity: 0
      transition: 0.5s



