  
*, *:before, *:after
  box-sizing: border-box

body 
  font-family: 'Montserrat', sans-serif
  width: 100% 
  height: 100vh

input, button, textarea 
  font-family: 'Montserrat', sans-serif

button 
  font-family: 'Montserrat', sans-serif
  cursor: pointer
  &:focus
    outline: none

a, a:visited, a:hover 
  text-decoration: none

li 
  list-style: none

h1, h2, h3, h4, h5, h6, p, ul
  margin: 0
  padding: 0

h1, h2, h3 
  font-family: 'Montserrat', sans-serif

img 
  width: 100%
  height: auto

.body__wrapper  
  height: 100%

.main 
  width: 100% 
  height: 100vh

$grey-color: #0d0d0f
$red-color: #cf3249
$red-dark-color: #5a151f