.menu 
  display: none
  opacity: 0
  position: fixed
  align-items: center 
  top: 0
  left: 0
  width: 100%
  height: 100% 
  background-color: rgba($grey-color, 0.8)
  backdrop-filter: grayscale(100%)
  transition: 0.8s
  &__left-block 
    position: absolute
    left: 0
    top: 0
    width: 360px
    height: 100%
    background-color: $grey-color
    transform: translateX(-100%)
    transition: 2s
  &__list 
    margin-left: 150px 
  &__name 
    margin-bottom: 20px
  &__link 
    position: relative
    font-size: 48px 
    font-weight: 700
    color: $grey-light-color
    transition: 1s
    &:before 
      visibility: hidden
      opacity: 0
      position: absolute
      content: '/'
      left: -40px
      font-size: 48px 
      transition: visibility 0.5s, opacity 0.5s
    &:hover 
      color: $red-color
      &:before
        opacity: 1
        visibility: visible
        transition: visibility 0.5s, opacity 0.5s

        
      
